.attribution { font-size: 11px; text-align: center; color: wheat;}
.attribution a { color: hsl(228, 45%, 44%); }

:root{
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
--Tomato: hsl(4, 100%, 67%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Charcoal-Grey);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: calc(100vh - 0.1px); */
}

.main{
    background-color: var(--White);
    /* border-radius: 2rem; */
    
    color: black;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

article:first-child{
    text-align: start;
    order: 2;
    padding: 2rem 1.5rem ;
    color: var(--Charcoal-Grey);
}
article:last-child{
    width: 100%;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
h1{
   font-size: 3rem;
   color: var(--Charcoal-Grey);
   margin-bottom: 1.5rem;
   font-family:"Roboto", sans-serif; 
   font-weight: 700;
}

picture{
    width: 100%;
}
img{
    width: 100%;
}
ul{
    margin: 2rem 0;
    list-style:none;

}
li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-family: "Roboto", sans-serif;
    color: var(--Charcoal-Grey);
    font-weight: bolder;
}
li img{
    width: 3%;
    margin-right: 1rem;
}

form{
    display: flex;
    flex-direction: column;
}
.error{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.error .error-text{
    display: flex;
    color: red;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: none;
}
.error p{
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
}

input[type=text]{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 6px 0px 16px 0px;
    color: red;
    font-family: inherit;
    color: var(--Charcoal-Grey);
    
}
button[type=submit]{
    color: white;
  padding: 1.2rem 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--Charcoal-Grey);
  font-family: "Roboto", sans-serif;
  /* font-family:"Roboto", sans-serif;  */
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}

.invalid .error-text{
    display: flex !important;
}

.invalid input{
    border-color: red;
    background-color: rgb(245, 222, 222);
}
